@charset "utf-8";

body {
    background-color: lightcyan;
    color: darkblue;
}

#logo { 
	position:fixed;
    padding: 0px 0; 
	top:0; 
	left:0; 
} 

.button {
    text-decoration: none;
    padding:5px;
    color: #276678;
    border-radius: 290486px;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

.button:hover {
    transition: none 400ms ease-out;
    transition-property: color, background;
    background-color: #1687a7;
    color: white;
}

h1, h2 {
    color: darkblue;
}

nav {
    font-size:30px;
    background-size: cover;
    height:125px;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: #276678;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    float:right;
    margin:35px;
}

nav ul li.menu {
        float:left;
        padding:10px;
        margin-right:10px;
        height:30px;
        height: 20px;      
}

nav ul li.menu a {
    text-decoration: none;
    padding:5px;
    color: white;
    border-radius: 290486px;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

nav ul li.menu a:hover {
    transition: none 400ms ease-out;
    transition-property: color, background;
    background-color: #1687a7;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #276678;
    color:white;
}

footer a {
    color:white;
}

#footertext {
    margin-left:20px;
}